GOOGLE_CLIENT_ID=1017988555875-hpittbf4h36u50ir88k6co9ksv618el6.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=6cc2148394ab8ae844f8113f6ac77e4caddbe429608d09884dce750abdfb4cc3
NEXT_PUBLIC_API_BASE_URL=https://dummyjson.com